.container {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  padding: var(--space-2) var(--space-4);
  background-color: var(--color-gray-100);
  border: 1px solid var(--color-gray-500);
}
