.container {
  flex: 1;
  margin-top: var(--space-16);
}

.email {
  font-weight: 700;
}

.socialContainer {
  display: flex;
  column-gap: var(--space-5);
}

.socialContainer a {
  transition: color 150ms ease-out 150ms, color 150ms ease-out 150ms;
}

.socialContainer a:hover {
  color: var(--color-primary);
}
