.container {
  display: flex;
  flex-direction: column;
  row-gap: var(--space-7);
}

.title {
  margin-bottom: var(--space-4);
}

.linksContainer {
  display: flex;
  flex-direction: column;
  row-gap: var(--space-4);
}

.company {
  margin-top: var(--space-2);
  font-style: italic;
}
