.container {
  border-radius: var(--border-radius-small);
  background-color: var(--color-gray-100);
  padding: var(--space-9);
  display: flex;
  flex-direction: column;
  row-gap: var(--space-6);
  flex: 1;
}

.headerContainer {
  display: flex;
  column-gap: var(--space-6);
}

.itemsContainer {
  display: flex;
  flex-direction: column;
  row-gap: var(--space-4);
}