.position {
  margin-top: var(--space-3);
}

.description {
  margin-top: var(--space-4);
}

.primaryColor {
  color: var(--color-primary);
}

.tagsContainer {
  display: flex;
  flex-wrap: wrap;
  column-gap: var(--space-5);
  margin-top: var(--space-4);
}
