.workContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: var(--space-5);
  padding: var(--space-10) 0;
  margin-top: var(--space-15);
}

.workButton {
  margin-top: var(--space-7);
}

.grid {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  column-gap: var(--space-8);
  row-gap: var(--space-8);
  margin-top: var(--space-10);
}

@media (min-width: 750px) {
  .grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 1200px) {
  .grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
