.container {
  display: flex;
  flex-direction: column;
  row-gap: var(--space-2);
}

.hoverContainer {
  background-color: var(--color-gray-100);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: var(--border-radius-regular);
  opacity: 0;
  transition: opacity 150ms ease-out 150ms;
  cursor: pointer;
  padding: var(--space-7);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: var(--space-5);
}

.insideContanier {
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: center;
  gap: var(--space-6);
}

.hoverContainer:hover {
  opacity: 1;
}

.container:hover .image {
  scale: 0.8;
}

.image {
  scale: 1;
  transition: scale 150ms ease-out 150ms;
}

.title {
  margin-top: var(--space-2);
  margin-bottom: var(--space-1);
}

.textContainer {
  position: absolute;
  padding: var(--space-7);
  bottom: 0;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  left: 0;
  right: 0;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(249, 249, 249, 0.7287289915966386) 50%,
    rgba(242, 242, 242, 1) 100%
  );
}

.date {
  font-style: italic;
}
