.mainContainer {
  display: flex;
  /* column-gap: var(--space-7); */
}

.container {
  padding: var(--space-7);
  border-bottom: 2px solid rgba(220, 220, 220, 0.5);
  background-color: white;
  border-radius: var(--border-radius-small);
  flex: 1;
  margin-bottom: var(--space-5);
}

.logoContainer {
  border: 2px solid rgba(220, 220, 220, 0.5);
  background-color: white;
  border-radius: 100%;
  height: var(--space-8);
  width: var(--space-8);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.axisContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: var(--space-15);
}

.axisSmall {
  width: 1px;
  background-color: rgba(220, 220, 220, 0.6);
  height: 15px;
}

.axisLarge {
  flex: 1;
  width: 1px;
  background-color: rgba(220, 220, 220, 0.6);
}

.transparentAxis {
  background-color: transparent;
}

.company {
  opacity: 0.7;
}

.companyContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-bottom: var(--space-6);
}

.companyContainerExpired {
  opacity: 0.8;
}

.date {
  color: var(--color-primary);
  display: flex;
  column-gap: var(--space-4);
}

.position {
  font-size: var(--typography-h3);
  font-family: var(--typography-font-tiempos);
}

@media (max-width: 1000px) {
  .container {
    flex-direction: column;
    row-gap: var(--space-6);
  }
}

.technologiesContainer {
  display: flex;
  flex-wrap: wrap;
  row-gap: var(--space-5);
  column-gap: var(--space-3);
  margin: var(--space-7) 0;
}

.technologyItem {
  background-color: rgba(220, 220, 220, 0.1);
  padding: var(--space-2) var(--space-5);
  border-radius: 20px;
  border-color: rgba(220, 220, 220, 0.5);
  border-width: 1px;
  border-style: solid;
}
