@import './variables.css';

:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: 'Lato', ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
}

body {
  margin: 0;
  color: var(--color-gray-900);
}

h1, h2, h3, p {
  margin-block: 0;
}

@font-face {
  font-family: "Tiempos";
  src: url('../assets/fonts/TiemposHeadline-Light.otf');
  font-weight: normal;
  font-style: normal;
}