.home {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgb(248, 248, 248) 20%,
    rgb(237, 249, 255) 30%,
    rgba(236, 236, 236, 1) 55%,
    rgb(235, 235, 235) 60%,
    rgba(230, 230, 230, 1) 67%,
    rgb(237, 249, 255) 85%,
    rgb(227, 231, 233) 90%,
    rgba(255, 255, 255, 1) 100%
  );
}
