.mainContainer {
  background-color: var(--color-gray-100);
  min-height: calc(100vh - 115px - 115px);
}

.container {
  max-width: var(--container-width);
  padding: var(--space-10) var(--space-10);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

@media (min-width: 750px) {
  .container {
    column-gap: var(--space-10);
    flex-direction: row;
  }
}

@media (min-width: 1000px) {
  .container {
    column-gap: var(--space-18);
    flex-direction: row;
  }
}
