.h1 {
  font-size: var(--typography-h1);
  font-family: var(--typography-font-tiempos);
  font-weight: 300;
}

.h2 {
  font-size: var(--typography-h2);
  font-family: var(--typography-font-tiempos);
  font-weight: 300;
}

.h3 {
  font-size: var(--typography-h3);
  font-weight: 500;
  font-family: var(--typography-font-tiempos);
}

.paragraph {
  font-size: var(--typography-paragraph);
}

.small-paragraph {
  font-size: var(--typography-small-paragraph);
}

.x-small-paragraph {
  font-size: var(--typography-x-small-paragraph);
}

.bold {
  font-weight: 700;
}

.medium {
  font-weight: 600;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

.opacity {
  opacity: 0.6;
}

.link {
  color: var(--color-primary);
  text-decoration: underline;
  cursor: pointer;
  transition: color 150ms ease-out 150ms;
}

.link:hover {
  color: inherit;
}

.italic {
  font-style: italic;
}
