.mainContainer {
  background-color: var(--color-gray-100);
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.mainContainerUpdate {
  border-bottom: 1px solid var(--color-gray-300);
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--space-9) 0;
  max-width: var(--container-width);
  margin: auto;
}

.menu {
  display: flex;
  column-gap: var(--space-10);
}

.primaryText {
  color: var(--color-primary);
}

.mainHeader {
  font-size: var(--typography-h3);
  font-family: var(--typography-font-tiempos);
}
