.container {
  max-width: var(--container-width);
  padding: var(--space-14) var(--space-8);
  margin: auto;
  display: flex;
  flex-direction: column;
}

.textContainer {
  display: flex;
  flex-direction: column;
  row-gap: var(--space-5);
  max-width: var(--container-medium-width);
  margin-top: var(--space-12);
  align-self: center;
}

.listContainer {
  display: flex;
  flex-direction: column;
  row-gap: var(--space-5);
}

.header {
  margin-top: var(--space-12);
  margin-bottom: var(--space-5);
  align-self: center;
}

@media (max-width: 1000px) {
  .container {
    padding: var(--space-10) var(--space-8);
  }
}
