.container {
  max-width: var(--container-width);
  margin: auto;
  padding-top: var(--space-15);
}

.textContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: var(--space-5);
  max-width: var(--container-medium-width);
  margin: auto;
  margin-bottom: var(--space-8);
}

.row {
  display: flex;
  column-gap: var(--space-4);
  margin-bottom: var(--space-8);
}
