.container {
  background-color: var(--color-gray-300);
  overflow: hidden;
  position: relative;
}

.insideContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--space-15) var(--space-8);
  max-width: var(--container-width);
  margin: auto;
  position: relative;
}

.textContainer {
  max-width: var(--container-width);
  flex-direction: column;
  flex: 1;
}

.header {
  margin-top: var(--space-9);
  margin-bottom: var(--space-4);
}

.primaryText {
  color: var(--color-primary);
  font-weight: 600;
}

.button {
  margin-top: var(--space-8);
}

.column {
  flex: 1;
}

.image {
  position: absolute;
  bottom: 0;
  right: 0;
}

@media (max-width: 1480px) {
  .particle4 {
    display: none;
  }
}

@media (max-width: 1000px) {
  .insideContainer {
    padding: var(--space-8) var(--space-8);
  }

  .image {
    /* position: unset; */
    width: 410px;
    height: 400px;
    right: -100px;
  }

  .textContainer {
    flex: 1.5;
  }

  .particle1,
  .particle2,
  .particle3,
  .particle4 {
    display: none;
  }
}

@media (max-width: 700px) {
  .insideContainer {
    flex-direction: column;
    padding: var(--space-10) var(--space-8) 0;
  }

  .image {
    position: unset;
    margin-top: var(--space-10);
    width: 210px;
    height: 200px;
  }

  .particle3,
  .particle4 {
    display: block;
  }
}

@media (max-width: 450px) {
  .insideContainer h1 {
    font-size: 40px !important;
  }
}

.particle1 {
  height: 200px;
  width: 200px;
  background-color: var(--color-primary-light);
  border-radius: 100%;
  position: absolute;
  bottom: -140px;
  left: calc(50% - 300px);
}

.particle2 {
  height: 70px;
  width: 70px;
  background-color: var(--color-primary-light);
  border-radius: 100%;
  position: absolute;
  top: 140px;
  left: calc(50%);
}

.particle3 {
  height: 30px;
  width: 30px;
  background-color: var(--color-primary-light);
  border-radius: 100%;
  position: absolute;
  top: 220px;
  right: calc(10%);
}

.particle4 {
  height: 50px;
  width: 50px;
  background-color: var(--color-primary-light);
  border-radius: 100%;
  position: absolute;
  bottom: 140px;
  left: calc(5%);
}

.availableContainer {
  background-color: var(--color-gray-900);
  padding: var(--space-5) var(--space-8);
  color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: var(--space-5);
}
.availableContainer svg {
  color: var(--color-white);
}

.availableIconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}
