.container {
  background-color: var(--color-gray-100);
}

.insideContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--space-15) 0;
  max-width: var(--container-width);
  margin: auto;
  position: relative;
}

.textContainer {
  max-width: var(--container-width);
  flex-direction: column;
  flex: 1;
}

.header {
  margin-top: var(--space-9);
  margin-bottom: var(--space-4);
}

.primaryText {
  color: var(--color-primary);
  font-weight: 600;
}

.button {
  margin-top: var(--space-8);
}

.column {
  flex: 1;
}

.image {
  position: absolute;
  bottom: 0;
  right: 0;
}
