.container {
  max-width: var(--container-width);
  border-radius: var(--border-radius-regular);
  margin: auto;
  background-color: var(--color-gray-300);
}

.insideContainer {
  padding: var(--space-12);
  display: flex;
  column-gap: var(--space-5);
  border-radius: var(--border-radius-regular);
  background-image: url(../../../assets/backgrounds/blur.svg);
  background-size: cover;
  position: relative;
  overflow: hidden;
}

.column {
  flex: 1;
}

.textContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: var(--space-6);
}

.valuesContainer {
  display: flex;
  align-items: center;
  padding: 0 var(--space-10);
  column-gap: var(--space-5);
}

.valuesColumn {
  flex: 1;
  display: flex;
  flex-direction: column;
  row-gap: var(--space-6);
  align-items: center;
}

.value {
  font-size: var(--typography-h2);
  font-family: var(--typography-font-tiempos);
  font-weight: 300;
}

.particle1 {
  height: 300px;
  width: 300px;
  background-color: orange;
  opacity: 0.3;
  border-radius: 100%;
  position: absolute;
  top: 50px;
  right: -160px;
}

.particle2 {
  height: 150px;
  width: 150px;
  background-color: orange;
  opacity: 0.6;
  border-radius: 100%;
  position: absolute;
  top: -90px;
  left: 300px;
}

.particle3 {
  height: 30px;
  width: 30px;
  background-color: orange;
  opacity: 0.8;
  border-radius: 100%;
  position: absolute;
  top: 200px;
  left: 250px;
}

@media (max-width: 1200px) {
  .container {
    margin: 0 var(--space-8);
  }

  .insideContainer {
    padding: var(--space-10);
    column-gap: var(--space-2);
  }
}

@media (max-width: 800px) {
  .insideContainer {
    flex-direction: column;
    padding: var(--space-10);
  }

  .valuesContainer {
    flex-direction: column;
    row-gap: var(--space-6);
    margin-top: var(--space-10);
  }

  .particle1 {
    top: unset;
    bottom: -100px;
  }

  .particle3 {
    left: 50px;
  }
}
