.container {
  max-width: var(--container-width);
  border-radius: var(--border-radius-regular);
  padding: var(--space-12);
  margin: var(--space-12) auto;
  display: flex;
  column-gap: var(--space-5);
  background-image: url(../../../assets/backgrounds/blur.svg);
  background-size: cover;
}

.column {
  flex: 1;
}

.textContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: var(--space-6);
}

.valuesContainer {
  display: flex;
  align-items: center;
  padding: 0 var(--space-10);
}

.valuesColumn {
  flex: 1;
  display: flex;
  flex-direction: column;
  row-gap: var(--space-6);
  align-items: center;
}

.value {
  font-size: var(--typography-h2);
  font-family: var(--typography-font-tiempos);
  font-weight: 300;
}
