.mainContainer {
  max-width: var(--container-width);
  margin: 0 auto;
  padding: var(--space-10) var(--space-8) var(--space-16);
  display: flex;
  column-gap: var(--space-8);
}

.column {
  flex: 1;
}

.textContainer {
  display: flex;
  flex-direction: column;
  row-gap: var(--space-5);
  margin-bottom: var(--space-10);
}

.row {
  display: flex;
  column-gap: var(--space-8);
}

@media (max-width: 1000px) {
  .mainContainer {
    flex-direction: column;
    row-gap: var(--space-12);
  }
}
