.container {
  max-width: var(--container-width);
  padding: var(--space-15) 0;
  margin: 0 auto;
}

.textContainer {
  display: flex;
  flex-direction: column;
  row-gap: var(--space-5);
  margin-bottom: var(--space-10);
}

.row {
  display: flex;
  column-gap: var(--space-8);
}

.moreContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: var(--space-5);
}

.button {
  margin-top: var(--space-8);
}
