.container {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: var(--space-10);
  height: 80px;
  background-color: var(--color-gray-900);
  color: var(--color-white);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.placeholder {
  height: 80px;
}

.link {
  text-decoration: underline;
}
