.container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.image {
  z-index: 3;
}

.dateContainer {
  padding: var(--space-2) var(--space-5);
  border-radius: var(--border-radius-regular);
  margin: var(--space-7) 0;
}

.date {
  color: var(--color-white);
}

.description {
  max-width: var(--container-medium-width);
  margin-top: var(--space-4);
}

.row {
  display: flex;
  flex-direction: column;
  padding: var(--space-15) 0;
  row-gap: var(--space-10);
  column-gap: var(--space-15);
}

@media (min-width: 600px) {
  .row {
    flex-direction: row;
  }
}

.column {
  flex: 1;
  display: flex;
  flex-direction: column;
  row-gap: var(--space-5);
}

.socialContainer {
  display: flex;
  column-gap: var(--space-5);
  margin-top: var(--space-5);
}

.socialContainer a {
  transition: color 150ms ease-out 150ms, color 150ms ease-out 150ms;
}

.socialContainer a:hover {
  color: var(--color-primary);
}

.gallery {
  padding: var(--space-5) 0;
  display: flex;
  flex-wrap: wrap;
  column-gap: var(--space-5);
  row-gap: var(--space-5);
  overflow-x: auto;
}

.particle1 {
  height: 80px;
  width: 80px;
  background-color: var(--color-primary);
  border-radius: 100%;
  opacity: 0.5;
  position: absolute;
  top: 16px;
  right: 80px;
}

.particle2 {
  height: 64px;
  width: 64px;
  background-color: var(--color-primary);
  border-radius: 100%;
  opacity: 0.8;
  position: absolute;
  top: 240px;
  left: 224px;
}

.particle3 {
  height: 32px;
  width: 32px;
  background-color: var(--color-primary);
  border-radius: 100%;
  opacity: 0.6;
  position: absolute;
  top: 288px;
  right: 300px;
}

.particle4 {
  height: 20px;
  width: 20px;
  background-color: var(--color-primary);
  border-radius: 100%;
  opacity: 0.5;
  position: absolute;
  top: 20px;
  left: 100px;
}

.particle5 {
  height: 40px;
  width: 40px;
  background-color: var(--color-primary);
  border-radius: 100%;
  opacity: 0.4;
  position: absolute;
  top: 180px;
  left: 20px;
}

.casesContainer {
  display: flex;
  column-gap: var(--space-8);
  row-gap: var(--space-8);
  flex-direction: column;
  margin-bottom: var(--space-14);
  margin-top: var(--space-8);
}

@media (min-width: 800px) {
  .casesContainer {
    flex-direction: row;
  }
}

.caseItem {
  flex: 1;
  display: flex;
  flex-direction: column;
  row-gap: var(--space-6);
}

.websiteButton {
  margin-top: var(--space-8);
}

.technologiesContainer {
  display: flex;
  flex-wrap: wrap;
  row-gap: var(--space-5);
  column-gap: var(--space-3);
}

.technologyItem {
  background-color: rgba(220, 220, 220, 0.3);
  padding: var(--space-2) var(--space-5);
  border-radius: 20px;
}

@media (max-width: 450px) {
  .image {
    transform: scale(0.8);
  }
}
