.container {
  max-width: var(--container-width);
  margin: auto;
  display: flex;
  padding: var(--space-18) 0;
}

.column {
  flex: 1;
}

.headerSection {
  display: flex;
  margin-right: var(--space-10);
  flex-direction: column;
  border-radius: 20px;
  background-image: url(../../../assets/backgrounds/blur.svg);
  background-size: cover;
  align-items: center;
  justify-content: center;
}

.textContainer {
  display: flex;
  flex-direction: column;
  row-gap: var(--space-5);
}

.bold {
  font-weight: 700;
}

.button {
  align-self: flex-start;
  margin-top: var(--space-6);
}

.underline {
  height: 3px;
  width: 40px;
  background-color: var(--color-primary);
}

.infoDetailsContainer {
  padding: var(--space-2) 0;
}

.yearsOfExperience {
  font-weight: 700;
  font-size: var(--typography-h0);
  font-family: var(--typography-font-tiempos);
  color: var(--color-primary);
}
