.container {
  max-width: var(--container-width);
  border-radius: var(--border-radius-regular);

  background-color: var(--color-gray-300);
  margin: var(--space-10) auto var(--space-18);
}

.insideContainer {
  padding: var(--space-12);
  display: flex;
  flex-direction: column;
  align-items: center;
  column-gap: var(--space-5);
  border-radius: var(--border-radius-regular);
  background-image: url(../../../assets/backgrounds/blur-secondary.svg);
  background-size: cover;
  position: relative;
  overflow: hidden;
}

.description {
  max-width: var(--container-medium-width);
  margin-top: var(--space-5);
}

.button {
  margin-top: var(--space-10);
}

.particle1 {
  height: 300px;
  width: 300px;
  background-color: var(--color-primary);
  opacity: 0.3;
  border-radius: 100%;
  position: absolute;
  top: 50px;
  right: -160px;
}

.particle2 {
  height: 150px;
  width: 150px;
  background-color: var(--color-primary);
  opacity: 0.6;
  border-radius: 100%;
  position: absolute;
  top: -90px;
  left: 200px;
}

.particle3 {
  height: 30px;
  width: 30px;
  background-color: var(--color-primary);
  opacity: 0.8;
  border-radius: 100%;
  position: absolute;
  top: 200px;
  left: 100px;
}
