.container {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    321deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(79, 66, 55, 1) 100%
  );
  position: relative;
  overflow: hidden;
}

.insideContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--space-18) var(--space-8);
  max-width: var(--container-width);
  margin: auto;
}

.textContainer {
  max-width: var(--container-medium-width);
  color: var(--color-white);
}

.description {
  margin-top: var(--space-8);
  margin-bottom: var(--space-6);
}

.button {
  margin-top: var(--space-8);
}

.image {
  position: absolute;
  left: calc(100vw / 2 - 100px);
  top: -150px;
}

.shape1 {
  position: absolute;
  left: calc(100vw / 2 + 80px);
  top: 150px;
}

.shape2 {
  position: absolute;
  left: calc(100vw / 2 + 440px);
  bottom: 150px;
}

.link {
  color: var(--color-danger);
  text-decoration: underline;
}

@media (max-width: 1000px) {
  .insideContainer {
    padding: var(--space-10) var(--space-8);
  }

  .shape1 {
    top: unset;
    bottom: -10px;
  }

  .shape2 {
    display: none;
  }

  .image {
    display: none;
  }
}
