.mainContainer {
  background-color: var(--color-gray-300);
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--space-9) var(--space-8);
  max-width: var(--container-width);
  margin: auto;
}

.menu {
  display: flex;
  column-gap: var(--space-10);
}

.primaryText {
  color: var(--color-primary);
}

.mainHeader {
  font-size: var(--typography-h3);
  font-family: var(--typography-font-tiempos);
}

.particle {
  background-color: var(--color-primary-light);
  height: 10px;
  width: 10px;
  border-radius: 100%;
}

.rightsContainer {
  display: flex;
  column-gap: var(--space-4);
  align-items: center;
}

@media (max-width: 900px) {
  .container {
    flex-direction: column-reverse;
    row-gap: var(--space-7);
    padding-top: var(--space-8);
  }
}
