.container {
  flex: 1;
}

.form {
  margin-top: var(--space-12);
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
  row-gap: var(--space-7);
}

.form .submitButton {
  align-self: flex-start;
}
