.mainContainer {
  background-color: var(--color-gray-100);
}

.container {
  max-width: var(--container-width);
  padding: var(--space-10) var(--space-10);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
